<ion-header>
    <ion-toolbar color="dark">
        <ion-title>E-Ticket</ion-title>
    </ion-toolbar>
</ion-header>

  <ion-content>
      <ion-button fill="clear" (click)="booking()">
        <ion-icon name="arrow-round-back" slot="start"></ion-icon>
        Back
    </ion-button>
    
  
<ion-content>
<br>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>E-Ticket</ion-card-subtitle>
          <hr color="succes">
          <ion-card-content class="ion-margin-vertical ion-text-center">
              <h2>Proof Of Your Purchase</h2>
             <h3>You have made transactions via TREVA 
               with the following details</h3>
          </ion-card-content>
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <section>
                          <ion-card-content>
                              Booking ID
                           </ion-card-content>
                      </section>
                  </ion-col>
                  
                  <ion-col offset="-3">
                      <ion-card-content>
                          : TR001
                       </ion-card-content>
                  </ion-col>
                </ion-row>
            </ion-grid>

          <ion-grid>
              <ion-row>
                  <ion-col>
                      <section>
                          <ion-card-content>
                              Date
                           </ion-card-content>
                      </section>
                  </ion-col>
                  
                  <ion-col offset="-3">
                      <ion-card-content>
                          : Tuesday, 22 December 2019
                       </ion-card-content>
                  </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <section>
                            <ion-card-content>
                                Total Price
                             </ion-card-content>
                        </section>
                    </ion-col>
                    
                    <ion-col offset="-3">
                        <ion-card-content>
                            : Rp 180890
                         </ion-card-content>
                    </ion-col>
                  </ion-row>
              </ion-grid>

              <ion-card-content class="ion-margin-vertical ion-text-center">
                 <h3> We have attached your proof of purchase
                    in your email</h3>
              </ion-card-content>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-card-content class="ion-margin-vertical ion-text-left">
            <h3>Customer Service (Indonesia)</h3>
            <h3>+6282254356304</h3>
         </ion-card-content>

         <ion-card-content class="ion-margin-vertical ion-text-left">
            <h3>Email</h3>
            <h3>cstreva@gmail.com</h3>
         </ion-card-content>
    </ion-card>
<br><br><br>

</ion-content>
