.btn-payment{
    background-color: white;
    color: #69d2e7;
  }
  .btn-1{
    background-color: white;
    color: #69d2e7;
    border: none;
    border-radius: 50%;
  }

  .text {
      color: #86888f;
  }