<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="tiket">
      Ticket :
    </ion-label>
  </ion-item>
  <ion-card (click)="etiket()">
    <ion-item>
      <ion-card-content class="card-content2">
          Booking ID : TR001
      </ion-card-content>
    </ion-item>
    
    <ion-item>
      <ion-card-content class="card-content">
        Jogja Bay
      </ion-card-content>
      <ion-icon color="dark" class="icon" md="md-arrow-dropright" slot="end"></ion-icon>
    </ion-item>

  </ion-card>

</ion-content>
