.card-content{
    font-size: 17px;
    color: #69d2e7;
}

.card-content2{
    font-size: 15px;
    color: #69d2e7;
}

.tiket {
    font-family: arial;
    color: #69d2e7;
    font-size: 18px;
    font-weight: bolder;
}

.icon {
    font-size: 30px;
    margin: 10px;
}