:host {
    --ion-color-base: var(--ion-item-background, transparent);
    --ion-color-base: var(--ion-item-background-color, transparent);
  }
  
  .person{
    font-size: 100px;
    margin: 20px;
  }
  
  #h4{
    margin: 5px;
    color: #69d2e7;
  }

  a{
    color: #69d2e7;
  }